@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');

body {
  background-color: #333;
  font-family: "Lucida Console", Monaco, monospace;
  margin-top : 70px;
  color: #fff;
}
.card {
  padding: 10px;
}
